<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="Activity9">
        <parameter name="sUsername" value="root"/>
        <parameter name="sPassword" value="pa$$w0rd"/>
        <classes>
            <class name="ProjectActivities" >
                <methods>
                    <include name="Activity9" />
                </methods>
            </class>
        </classes>
    </test>
</suite>